body {
	background-color: #F7FBFC;
	font-family: sans-serif;	
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*====header====*/
header {
	background-color:  #1034A6;
	height: 50px;
	width: 100%;
	line-height: 50px;
	color: #F7FBFC;
	position: fixed;
	top: 0;
	z-index: 1000;
}

header h1 {
	font-size: 22px;
	font-weight: bold;
	margin-left: 10px;
	line-height: 2.3;
}

header .logo {
	height: 100%;
}

header .logo img {
	max-height: 100%;
	vertical-align: unset;
}

header ul {
	height: 100%;
}

header ul li {
	height: inherit;
	display: inline-block;
	border-left: 1px solid #F7FBFC;
}


header ul li a {
	height: inherit;
	display: inline-block;
	text-decoration: none;
	color: #F7FBFC;
	padding-right: 15px;
	padding-left: 15px;
}

header ul li a:hover, header ul li a:target {
	background: #103448;
	transition-duration: 0.2s;
}

header ul li a:active {
	background: #1034A6;
	transition-duration: 0.2s;
}

.active {
	background: #3C67EB;
}


.freak {
	margin: -4px;
}


/*=====main====*/


.user-info {
	margin-top: 100px;
}


/*====footer====*/

footer {
	background-color: #1034A6;
	height: 50px;
	width: 100%;
	/*line-height: 50px;*/
	position: relative;
}

.footer-container {
	width: 450px;
	margin: 0 auto;
	text-align: center;
}

.footer-container ul {
	display: inline-block;
	padding: 0;
    margin-bottom: 0;
}

.footer-container ul li {
	display: inherit;
	list-style: none;
	margin: 0 20px;

}


.footer-container ul li a {
	color: #F7FBFC;
}


.copyright {
	font-size: 10px;
	font-weight: bolder;
	position: absolute;
	right: 0;
	color: #000;
}